<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Details</title>
   
</head>
<body>
    <header>
        <h1>Academic Details</h1>
    </header>
    <div class="container">
        <h2>School Education</h2>
        <p>
            <strong>School Name:</strong>Govt Town Model High School <br>
            <strong>Year of Completion:</strong> 2018 <br>
            <strong>GPA:</strong> 8.0/10 <br>
        </p>
        
        <h2>Intermediate Education</h2>
        <p>
            <strong>College Name:</strong>Narayana Junior College <br>
            <strong>Year of Completion:</strong> 2020 <br>
            <strong>CGPA:</strong> 9.67/10
        </p>
        
        <h2>B.Tech Education</h2>
        <p>
            <strong>University Name:</strong> G Pulla Reddy Enginnering College <br>
            <strong>Year of Graduation:</strong> 2024 <br>
            <strong>CGPA:</strong> 9.2(till VI sem)
        </p>
    </div>
</body>
</html>
